{
  "parser": "@typescript-eslint/parser", // Specifies the ESLint parser
  "parserOptions": {
    "ecmaVersion": 2020, // Allows for the parsing of modern ECMAScript features
    "sourceType": "module" // Allows for the use of imports
  },
  "extends": [
    "plugin:@typescript-eslint/recommended", // Uses the recommended rules from the @typescript-eslint/eslint-plugin
    "prettier/@typescript-eslint", // Uses eslint-config-prettier to disable ESLint rules from @typescript-eslint/eslint-plugin that would conflict with prettier
    "plugin:prettier/recommended" // Enables eslint-plugin-prettier and eslint-config-prettier. This will display prettier errors as ESLint errors. Make sure this is always the last configuration in the extends array.
  ],
  "plugins": [
    "jsdoc"
  ],
  "rules": {
    // Place to specify ESLint rules. Can be used to overwrite rules specified from the extended configs
    // e.g. "@typescript-eslint/explicit-function-return-type": "off",
    "jsdoc/check-access": 1, // Recommended
    "jsdoc/check-alignment": 1, // Recommended
    "jsdoc/check-examples": 1,
    "jsdoc/check-indentation": 0,
    "jsdoc/check-line-alignment": 0,
    "jsdoc/check-param-names": 1, // Recommended
    "jsdoc/check-property-names": 1, // Recommended
    "jsdoc/check-syntax": 1,
    "jsdoc/check-tag-names": 1, // Recommended
    "jsdoc/check-types": 1, // Recommended
    "jsdoc/check-values": 1, // Recommended
    "jsdoc/empty-tags": 1, // Recommended
    "jsdoc/implements-on-classes": 1, // Recommended
    "jsdoc/match-description": 1,
    "jsdoc/newline-after-description": 1, // Recommended
    "jsdoc/no-bad-blocks": 1,
    "jsdoc/no-defaults": 1,
    "jsdoc/no-types": 1,
    "jsdoc/no-undefined-types": 1, // Recommended
    "jsdoc/require-description": 1,
    "jsdoc/require-description-complete-sentence": 1,
    "jsdoc/require-example": 0, // Modified.
    "jsdoc/require-file-overview": 1,
    "jsdoc/require-hyphen-before-param-description": 1,
    "jsdoc/require-jsdoc": 1, // Recommended
    "jsdoc/require-param": 1, // Recommended
    "jsdoc/require-param-description": 1, // Recommended
    "jsdoc/require-param-name": 1, // Recommended
    "jsdoc/require-param-type": 0, // Modified because TS already contains this info.
    "jsdoc/require-property": 1, // Recommended
    "jsdoc/require-property-description": 1, // Recommended
    "jsdoc/require-property-name": 1, // Recommended
    "jsdoc/require-property-type": 1, // Recommended
    "jsdoc/require-returns": 1, // Recommended
    "jsdoc/require-returns-check": 1, // Recommended
    "jsdoc/require-returns-description": 1, // Recommended
    "jsdoc/require-returns-type": 0, // Modified because TS already contains this info.
    "jsdoc/require-throws": 1,
    "jsdoc/require-yields": 1, // Recommended
    "jsdoc/require-yields-check": 1, // Recommended
    "jsdoc/valid-types": 1, // Recommended
    "prettier/prettier": ["error", { "endOfLine": "auto" }] 
  }
}