.acg-palette-1 {
  fill: #007ac1
}

.acg-palette-2 {
  fill: #80cbc4
}

.acg-palette-3 {
  fill: #f8c462
}

.acg-palette-4 {
  fill: #e75a0d
}

.acg-palette-5 {
  fill: #ffc1e3
}

.acg-palette-6 {
  fill: #2196f3
}

.acg-palette-7 {
  fill: #ef9a9a
}


/* 
#33658a
#ea80fc

*/